<div ng-controller="menuController">
    <div class="pswd_pop">
        <Span class="pop_closeBtn" title="Close"></Span>
        <div class="chgpswd">
            <heading>Change Password</heading>
            <structure>
                <div id="changepassword" style="display:block">
                    <form method="post" class="chgpswd-form">
                        <label-10>
                            <input id="ChangePwsOPws" type="password" autocomplete="off" name="ChangePwsOPws" ng-model="ChangePwsOPws" placeholder="Old Password" required>
                        </label-10>
                        <label-10>
                            <input id="ChangePwsNPws" type="password" autocomplete="off" name="ChangePwsNPws" ng-model="ChangePwsNPws" placeholder="New Password" required>
                        </label-10>
                        <label-10>
                            <input id="ChangePwsCPws" type="password" autocomplete="off" name="ChangePwsCPws" ng-model="ChangePwsCPws" placeholder="Confirm New Password" required>
                        </label-10>
                        <label-10-generic>
                            <input type="button" ng-click="ChangePwsClicked()" class="button" value="Update Password">
                        </label-10-generic>
                        <!--use the following to display error message-->
                        <error id="errChangePws">{{ChangePwsError}}<icon><a href="#" title="Close">&#215;</a></icon></error>
                    </form>
                </div>
                <div id="success" style="display:none">
                    <!--display this for successful password change-->
                    <successicon></successicon>
                    <labeltexthead>Password reset successful</labeltexthead>
                    <labeltext>Please use your new password to login</labeltext>
                </div>
            </structure>
        </div>
    </div>
</div>