<div id="workspacecontainer" ng-controller="tabController" ng-show="loadingView">
    <div ng-include src="'js/views/Shared/header-inner.html'"></div>
    <!-- Page Header Ends-->
    <!--Work Area-->
    <div id="container">
        <div id="content_in">
            <!-- toggle between 'content' and 'content_logout' for logged out state -->
            <div class="content-widthfix">
                <div class="global_page_error" style="display:none">Global Page Error</div>
                <div class="secondary_page_container">
                    <div class="SP_leftBlock">
                        <div class="secondaryPage">
                            <naviLayout>
                                <ul id="sp_menuBar">
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('features')">Features</a></li>
                                    <li class="active"><a>About Us</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('privacy')">Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('terms')">Terms</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('agreement')">User Agreement</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('disclaimer')">Disclaimer</a></li>
                                </ul>
                            </naviLayout>
                            <!-- page content starts-->
                            <div class="pgContent">
                                <pgText>We are a team of human resources and information technology specialists who have built one of the most advanced video recruiting and assessment platforms in the market.</pgText>
                                <pgtext>We help enterprises gain a competitive advantage in the modern talent marketplace with video interviewing and assessments platform. We are transforming the way companies discover and hire talent. With HireGate enterprises can get the best talent faster with minimum a time to hire and cost.</pgtext>
                                <pgtext>We continue to innovate in all dimensions of recruiting, and we are one of the first companies to build a recruitment software that can act as complete hiring and assessment system. Our commitment to quality is reflected in our products and our culture.</pgtext>
                                <pgtext>We are on a mission to help every organization improve their recruiting efficiency and effectiveness by delivering an innovative and modern SaaS platform.</pgtext>
                            </div><!-- page content ends-->
                        </div>
                    </div> <!--Left Block Ends-->

                    <div class="SP_rightBlock">
                        <!-- Get In Touch-->
                        <block_bg>
                            <blockHead>Customer Support</blockHead>
                            <contentBlock>
                                <label20>
                                    <iconPhone></iconPhone>
                                    <textLayout>
                                        <textHead>Call us at −</textHead>
                                        <textHead>(+91) 888 444 2460</textHead>
                                        <textDesc>Time - 9AM to 5PM IST</textDesc>
                                    </textLayout>
                                </label20>
                                <label5>
                                    <iconMail></iconMail>
                                    <textLayout>
                                        <textHead>Send an email to −</textHead>
                                        <emailLink><a href="mailto:support@hiregate.in">support@hiregate.in</a></emailLink>
                                        <textDesc>Response Time - 4 Hours</textDesc>
                                    </textLayout>
                                </label5>
                            </contentBlock>
                        </block_bg>

                        <!--Request Call Back-->
                        <block_bg>
                            <blockHead>Request Call Back</blockHead>
                            <contentBlock>
                                <requestText>Leave your details here, our representative will get in touch with you.</requestText>
                                <span ng-include src="'js/views/shared/requestCallBack.html'"></span>
                            </contentBlock>
                        </block_bg>
                    </div> <!--Right Block Ends-->

                </div> <!-- Page Container Ends-->
            </div>
        </div>
    </div>
    <!--Container Ends-->
    <!--Work Area Ends-->
</div>
<div id="footer-in" class="frame-footer-in" ng-include src="'js/views/Shared/footer-inner.html'"></div>
