<div id="workspacecontainer" ng-controller="tabController" ng-show="loadingView">
    <div ng-include src="'js/views/Shared/header-inner.html'"></div>
    <!--Work Area-->
    <div id="container">
        <div id="content_in">
            <!-- toggle between 'content' and 'content_logout' for logged out state -->
            <div class="content-widthfix">
                <div class="global_page_error" style="display:none">Global Page Error</div>
                <div class="secondary_page_container">
                    <div class="SP_leftBlock">
                        <div class="secondaryPage">
                            <naviLayout>
                                <ul id="sp_menuBar">
                                    <li class="active"><a>Features</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('about')">About</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('privacy')">Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('terms')">Terms</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('agreement')">User Agreement</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('disclaimer')">Disclaimer</a></li>
                                </ul>
                            </naviLayout>
                            <!-- page content starts-->
                            <div class="pgContent">
                                <pgHeading>Powerful Talent Acquisition Platform</pgHeading>
                                <pgText>HireGate Talent Acquisition system is designed to streamline your recruitment process. It equips an organization to create job requirements, search for the related candidates in our pre-assessed pool or add candidates from external source, schedule video interviews, screen them, rate and archive the complete interview. It organizes, stores, tracks, and monitors the candidates throughout the on-going stages of the hiring process in an organization, provides interactive reports and has Extensive User Management. Thus providing an efficient and unbiased-transparent hiring system.</pgText>
                                <pgText>Our Talent Acquisition System is built on a SAS model and can be installed on the client's private cloud environment thus, keeping your hiring process secure. Using HireGate, you can access to the highly rated pre-assessed jobseekers of FaceInterview, Professional Evaluators to help evaluating candidates, conduct Live Video Interview and share those interview videos with multiple stakeholders for faster decision making.</pgText>
                                <!--<pgtext>Move ahead of the traditional assessment method. Increase your team’s productivity by eliminating the initial rounds of the interview process with pre-assessed jobseekers and fill an open position with 80% lesser time </pgtext>-->

                                <div class="pgContentFeature">
                                    <ul>
                                        <li>
                                            <iconBlock><icon01></icon01></iconBlock>
                                            <blockContainer>
                                                <pointHead>Pre-Assessed Profiles</pointHead>
                                                <pointText>Eliminate the first few rounds of interviews.  Job seekers are interviewed and rated based on their skills by our crowdsourced industry experts. Recruiters can search through our pool of pre-assessed candidates and shortlist the best talent. Thus, reducing the ‘time to hire’ and ‘cost to hire’.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon02></icon02></iconBlock>
                                            <blockContainer>
                                                <pointHead>Live Video Interview</pointHead>
                                                <pointText>A secure Video Interview platform to host live interviews in controlled environment with chat, whiteboard and coding panel. Meet the real person behind the resume. Use HireGate video interview and increase your team’s productivity. Gain more insight on candidates and enable better outcome.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon03></icon03></iconBlock>
                                            <blockContainer>
                                                <pointHead>No Geographical Restriction</pointHead>
                                                <pointText>We bridge the gap between the corporate and jobseekers in remote cities. Location is no more a constraint for recruiting managers as our pre-assessed profile help them fill in their open positions with talented job-seekers without restriction in the geography of the talented.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon04></icon04></iconBlock>
                                            <blockContainer>
                                                <pointHead>Record &amp; Share Assessment </pointHead>
                                                <pointText>Save all stakeholders time by being able to share entire interview containing the interactions between the Interviewer and candidate along with rating and feedback. Collaborate easily and make decisions effortlessly.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon05></icon05></iconBlock>
                                            <blockContainer>
                                                <pointHead>Embedd Time Stamps</pointHead>
                                                <pointText>Embedd time stamps in your video to allow reviewer to jump to different sections in the same video without having to wait for them to come up in the timeline. <br>Use the <b>Annonation</b> feature in the interview room to highlight certain parts from the entire video.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon06></icon06></iconBlock>
                                            <blockContainer>
                                                <pointHead>Bulk Scheduling</pointHead>
                                                <pointText>Scheduling interviews can be frustrating and time-consuming for a recruiter. Upload a spreadsheet of candidates, interviewers and scheduled time you need to schedule your interviews and automatically send the interview schedules to all the stakeholders with just a click of a button.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon07></icon07></iconBlock>
                                            <blockContainer>
                                                <pointHead>Coding Platform</pointHead>
                                                <pointText>An intuitive live browser based programming environment with support for over 15 languages in our interview room helps the technical recruiters to assess the candidates on their programming capabilities directly during the video interviews and helps you hire better candidate’s faster.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon08></icon08></iconBlock>
                                            <blockContainer>
                                                <pointHead>Professional Evaluators</pointHead>
                                                <pointText>One of the challenges companies face is to interview candidates as they lack the required skillset in-house for the domain/skills to interview the candidate. Our pool of crowdsourced industry experts can be sourced for your interview process within the HireGate Talent Acquisition System.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon09></icon09></iconBlock>
                                            <blockContainer>
                                                <pointHead>Improve Hit Rate Ratio</pointHead>
                                                <pointText>HireGate virtually does the first few rounds of interviews. This not only saves cost for the company but also helps the hiring managers to significantly improve the hit rate ratio with vetted pre-assessed profiles and fill an open position with almost 80% lesser time.</pointText>
                                            </blockContainer>
                                        </li>
                                        <li>
                                            <iconBlock><icon10></icon10></iconBlock>
                                            <blockContainer>
                                                <pointHead>Candidate Authenticity</pointHead>
                                                <pointText>Candidate Impersonation is an issue every company faces today. Our face recognition system authenticates each of the interview sessions and verify user authenticity.</pointText>
                                            </blockContainer>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- page content ends-->
                        </div>
                    </div> <!--Left Block Ends-->
                    <script>
                        function triggerOneBlock(elem) {
                            showOneBlock(elem.id);
                        }
                    </script>
                    <div class="SP_rightBlock">
                        <!-- Get In Touch-->
                        <block_bg>
                            <blockHead>Get In Touch</blockHead>
                            <contentBlock>
                                <label20>
                                    <iconPhone></iconPhone>
                                    <textLayout>
                                        <textHead>Call us at −</textHead>
                                        <textHead>(+91) 888 444 2460</textHead>
                                        <textDesc>Time - 9AM to 5PM IST</textDesc>
                                    </textLayout>
                                </label20>
                                <label5>
                                    <iconMail></iconMail>
                                    <textLayout>
                                        <textHead>Send an email to −</textHead>
                                        <emailLink><a href="mailto:support@hiregate.in">support@hiregate.in</a></emailLink>
                                        <textDesc>Response Time - 4 Hours</textDesc>
                                    </textLayout>
                                </label5>
                            </contentBlock>
                        </block_bg>

                        <!--Request Call Back-->
                        <block_bg>
                            <blockHead>Request Call Back</blockHead>
                            <contentBlock>
                                <requestText>Leave your details here, our representative will get in touch with you.</requestText>
                                <span ng-include src="'js/views/shared/requestCallBack.html'"></span>
                            </contentBlock>
                        </block_bg>
                    </div> <!--Right Block Ends-->

                </div> <!-- Page Container Ends-->
            </div>
        </div>
    </div>
    <!--Container Ends-->
    <!--Work Area Ends-->
</div>
<div id="footer-in" class="frame-footer-in" ng-include src="'js/views/Shared/footer-inner.html'"></div>
