<div id="workspacecontainer" ng-controller="unusedController" ng-show="loadingView">
    <div ng-include src="'js/views/Shared/header-inner.html'"></div>
    <!-- Page Header Ends-->
    <!--Work Area-->
    <div id="container">
        <div id="content_in">
            <div class="content-widthfix">
                <div class="global_page_error" style="display:none">Global Page Error</div>
                <div class="pricing">
                    <heading>Choose the plan that’s right for you</heading>
                    <ul>
                        <li>
                            <blockHeadLayout>
                                <blockName>Pay Per Interview</blockName>
                                <circle>
                                    <currency>&#8377; </currency>
                                    <amountText>150</amountText>
                                    <duration>Per Interview</duration>
                                </circle>
                            </blockHeadLayout>
                            <intNumber>1 Video Interview</intNumber>
                            <pointlabel>
                                <pointhead>Feature -</pointhead>
                                <point>Post vacancies in faceinterview.com</point>
                                <point>Share assessment video with multiple stakeholders</point>
                            </pointlabel>
                        </li>

                        <li>
                            <blockHeadLayout>
                                <blockName>Standard Plan</blockName>
                                <circle>
                                    <currency>&#8377; </currency>
                                    <amountText>5,000</amountText>
                                    <duration>Per Month</duration>
                                </circle>
                            </blockHeadLayout>
                            <intNumber>50 Video Interview(s)</intNumber>
                            <pointlabel>
                                <pointicon></pointicon>
                                <pointhead>Feature -</pointhead>
                                <point>Post vacancies in faceinterview.com</point>
                                <point>Share assessment video with multiple stakeholders</point>
                            </pointlabel>
                        </li>

                        <li>
                            <blockHeadLayout>
                                <blockName>Premium Plan</blockName>
                                <circle>
                                    <currency>&#8377; </currency>
                                    <amountText>15,000</amountText>
                                    <duration>Per Month</duration>
                                </circle>
                            </blockHeadLayout>
                            <intNumber>200 Video Interview(s)</intNumber>
                            <pointlabel>
                                <pointhead>Feature -</pointhead>
                                <point>Post vacancies in faceinterview.com</point>
                                <point>Share assessment video with multiple stakeholders</point>
                            </pointlabel>
                            <pointlabel>
                                <pointicon></pointicon>
                                <pointhead>Subscription Feature - </pointhead>
                                <point>Access to FaceInterview pre-assessed jobseekers</point>
                            </pointlabel>
                        </li>

                        <li>
                            <blockHeadLayout>
                                <blockName>Enterprise Plan</blockName>
                                <circle>
                                    <currency>&#8377; </currency>
                                    <amountText>25,000</amountText>
                                    <duration>Per Month</duration>
                                </circle>
                            </blockHeadLayout>
                            <intNumber>500 Video Interview(s)</intNumber>
                            <pointlabel>
                                <pointicon></pointicon>
                                <pointhead>Feature -</pointhead>
                                <point>Post vacancies in faceinterview.com</point>
                                <point>Share assessment video with multiple stakeholders</point>
                            </pointlabel>
                            <pointlabel>
                                <pointicon></pointicon>
                                <pointhead>Subscription Feature - </pointhead>
                                <point>Access to FaceInterview pre-assessed jobseekers</point>
                            </pointlabel>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--Work Area Ends-->
    <!--Work Area Ends-->
</div>
<div id="footer-in" class="frame-footer-in" ng-include src="'js/views/Shared/footer-inner.html'"></div>
