<div id="workspacecontainer" ng-controller="tabController" ng-show="loadingView">
    <div ng-include src="'js/views/Shared/header-inner.html'"></div>
    <!--Work Area-->
    <div id="container">
        <div id="content_in">
            <!-- toggle between 'content' and 'content_logout' for logged out state -->
            <div class="content-widthfix">
                <div class="global_page_error" style="display:none">Global Page Error</div>
                <div class="secondary_page_container">
                    <div class="SP_leftBlock">
                        <div class="secondaryPage">
                            <naviLayout>
                                <ul id="sp_menuBar">
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('features')">Features</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('about')">About</a></li>
                                    <li class="active"><a>Privacy Policy</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('terms')">Terms</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('agreement')">User Agreement</a></li>
                                    <li><a href="javascript:void(0)" ng-click="NavigateToRoute('disclaimer')">Disclaimer</a></li>
                                </ul>
                            </naviLayout>
                            <!-- page content starts-->
                            <!-- page content starts-->
                            <div class="pgContent">
                                <pgText>HireGate is a product of Swazuna Technologies and Swazuna Technologies is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, you can be assured that it will only be used in accordance with these privacy statements.</pgText>
                                <pgText>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</pgText>
                                <spacer10></spacer10>
                                <pgHead>General</pgHead>
                                <pgText>The website - www.hiregate.in and the App - hiregate Mobile Application is owned and operated by Swazuna Technologies Private Limited <b>(“Company”)</b>, whose registered office is at #5/1, 2nd Main Road, Venkateshwara Layout, S.G.palya, Bangalore 560029. This privacy policy <b>(“Privacy Policy”)</b> applies to the Website / App to comply with data protection legislation. This Privacy Policy regulates the processing of information relating to You and grants You various rights in respect of the information You provide us with.</pgText>
                                <pgText>For the purposes of this Privacy Policy, unless defined hereunder, all capitalized terms shall have the same meaning as ascribed to, in the Terms of Use available at <a href="javascript:void(0);" ng-click="NavigateToRoute('terms')">https://www.hiregate.in/terms</a>, unless the context otherwise requires.</pgText>
                                <pgText>Any of the users can interact with our Website/App as Interviewer or Candidate and the same privacy statements apply to both the interactions.</pgText>
                                <pgText>By accessing or using the Website / App, You agree to be bound by the terms and conditions of this Privacy Policy. If You do not agree please do not use or access Our Website / App. By mere use of the Website / App, You expressly consent to Our use and disclosure of all Your Information (as defined below) in accordance with this Privacy Policy, however obtained. This Privacy Policy is incorporated into and subject to the Terms of Service.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Information Collected and Method of Collection</pgHead>
                                <pgText>We collect the following general types of information about You when You use Website / App: User Information, professional information, Interview information, Demographic Information, Behavioral Information, and Indirect Information (collectively, “Information”). Upon downloading the App and in order to use Our Services, You are required to provide Us with Your details including but not limited to Your name, address, contact number and email address and information regarding the service You require (“User Information”).</pgText>
                                <pgText>We also collect your professional details not limited to you education, work experience, salary, technical expertise / Skillset for the service we provide. (“Professional Information”)</pgText>
                                <pgText>We collect your companies job positions, job requirements / description and other details related to the job opening in you company for us to provide the service as needed.</pgText>
                                <pgText>We may collect from You, information that is not unique to You in the sense that it refers to selected population characteristics, such as Your ZIP code or postal code and occupation (“Demographic Information”).</pgText>
                                <pgText>We also collect information regarding how You use Our App / Website. This includes the areas of Our Website that You visit, what Services You access (“Behavioral Information”).</pgText>
                                <pgText>Your use of certain third party services on the Website requires Us to collect such information as is considered necessary for that purpose (“Indirect Information”).</pgText>
                                <pgText>We do not collect sensitive personal data like the password to Your email address, physical or medical health conditions or medical records and history, biometric information, DNA or any other sensitive information that is confidential by nature. Financial information such as bank account details, credit card details or other payment related details are collected at the payment gateway by the payment facilitator.</pgText>
                                <pgText>We collect your Information either directly from You through forms on the Website / App and through optional online surveys or third party sources that provide such Information to Us.</pgText>
                                <pgText>We collect the live video images during the video interview and use images for person verification to prevent impersonation and use of unfair means. The video are recorded and shared as needed only after your approval.</pgText>
                                <pgText>We also do collect Non-personal information through this website that without identifying you. It may include information like:</pgText>
                                <ul class="pointSquare">
                                    <li><pgText>The type of web browser software your computer uses.</pgText></li>
                                    <li><pgText>Pages your computer visited and date and time your computer accessed our pages.</pgText></li>
                                    <li><pgText>Personal information that has been de-identified and</pgText></li>
                                    <li><pgText>The IP (internet protocol) address associated with your computer</pgText></li>
                                </ul>
                                <pgText>We use this information, which does not identify individual users, to analyze trends, to administer the Website, to track users movements around the Website and to gather demographic information about our user base as a whole.</pgText>
                                <pgText>You have the right to request the modification or deletion of any personal information retained by Hiregate that is inaccurate, except that information relating to your ratings and performance, as set forth below. (You may request for modification or deletion of any personal information by emailing our Customer Support at <a href="mailto:info@hiregate.in">info@hiregate.in</a> or by contacting us by telephone or postal mail at the contact information listed below. You must understand that Hiregate, in its sole discretion, will determine whether personal information should be modified or deleted. We will respond to your request to access within 30 days).</pgText>
                                <spacer10></spacer10>
                                <pgHead>Use of Information</pgHead>
                                <pgText>We use Your User Information for the following purposes:</pgText>
                                <ul class="pointSquare">
                                    <li><pgText>To provide our services. This includes facilitating interviews, Sharing of job postions in your company to job seekers, sharing of the Job description\requirements of your companies to jobseekers, interview recordings (if any) of/to corporates, providing communications, promotions and information on services which may be of interest to you;</pgText></li>
                                    <li><pgText>To respond to any queries You may have and to communicate information to You. This includes sending You e-mail or other communications regarding updates of the Website / App, contacting You about Your opinion on current Services and/or potential Services that may be offered;</pgText></li>
                                    <li><pgText>To operate and improve the Website / App in order to foster a positive User experience;</pgText></li>
                                    <li><pgText>To comply with the applicable laws; and</pgText></li>
                                    <li><pgText>To investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of Our Terms of Use, or as otherwise required by law. We use [Demographic Information,] Behavioral and Indirect Information about all of Our Users collectively, such as what areas Users visit most frequently and what services Users access the most. Such data is used anonymously and in the aggregate. This information helps Us determine what is most beneficial for Our Users, and how We can continually create a better overall experience for them. We may also use this information for the purposes of complying with the applicable laws.</pgText></li>
                                </ul>
                                <spacer10></spacer10>
                                <pgHead>Disclosure of the Information</pgHead>
                                <pgText>The Website / App are intended to allow You to share You Information to allow others to find You. We disclose Your Information to third parties in the manner specified below, including, but not limited to:</pgText>
                                <ul class="pointSquare">
                                    <li><pgText>Disclosing your User Information, mock interview/interview scores &amp; recording, if any, to allow corporates to provide job opportunities</pgText></li>
                                    <li><pgText>Sharing Your Information with third parties who help Us in the delivery of Our Services to you. Information is disclosed to companies and individuals who are authorized by Us to perform functions on Our behalf;</pgText></li>
                                    <li><pgText>Disclosing Information to third parties if You consent to such disclosure. If You indicate that You would like to receive information about the opportunities, products or services of third parties, We supply Your User Information to select third parties for the purpose of communicating with You;</pgText></li>
                                    <li><pgText>We may share Your Information with Our partners and affiliates, but only in the aggregate, so that they too may understand how visitors use Our website, and also create a better overall experience for You. We also share aggregated anonymous information about visitors to the Website with Our clients, partners, other Website / App visitors, and other third parties so that they can understand the kinds of visitors and how they use the Website / App in order to serve advertisements and other kinds of marketing information to You on Our Website / App;</pgText></li>
                                    <li><pgText>We may disclose and transfer Your Information to a third party who acquires Our business units, whether such acquisition is by way of merger, consolidation or purchase of all or a substantial portion of Our assets;</pgText></li>
                                    <li><pgText>Transfer Information to a third party, including persons outside India, to improve the Services; and</pgText></li>
                                    <li><pgText>We disclose Your Information if legally required to, pursuant to an order from a governmental entity or in good faith. We will disclose the information bases to:</pgText></li>
                                    <ol class="number" type="i">
                                        <li><pgText>Conform to legal requirements or comply with legal process;</pgText></li>
                                        <li><pgText>Protect our rights or property or our affiliated companies;</pgText></li>
                                        <li><pgText>Prevent a crime or protect national security; or</pgText></li>
                                        <li><pgText>Protect the personal safety of Users or the public.</pgText></li>
                                    </ol>
                                </ul>
                                <spacer10></spacer10>
                                <pgHead>External Links on the Website/App</pgHead>
                                <pgText>The Website / App may include advertisements, hyperlinks to other websites, applications, content or resources. We have no control over such external links present in the Website / App, which are provided by persons or companies other than Us. You acknowledge and agree that We are not responsible for any collection or disclosure of Your information by any external sites, applications, companies or persons, nor do We endorse any advertising, products or other material on or available from such external application, websites or resources.</pgText>
                                <pgText>You further acknowledge and agree that We are not liable for any loss or damage which may be incurred by You as a result of the collection and / or disclosure of Your information by external applications, sites or resources, or as a result of any reliance placed by You on the completeness, accuracy or existence of any advertising, products or other materials on, or available from such applications, websites or resources. These external applications, websites and resource providers may have their own privacy policies governing the collection, storage, retention and disclosure of Your information that You may be subject to. We recommend that You enter the external application or website and review their privacy policy.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Changes to Your Information</pgHead>
                                <pgText>You may review, correct, update, change or delete Your User Information on the Website / App.</pgText>
                                <pgText>We reserve the right to verify and authenticate Your identity and Your User Information. Access to or correction, updating or deletion of Your User Information may be denied or limited by Us if it would violate another person’s rights and / or as otherwise permitted by applicable law.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Changes to This Privacy Policy</pgHead>
                                <pgText>We reserve the right to update, change or modify this Privacy Policy at any time. The Privacy Policy shall come to effect from the date of such update, change or modification. If You continue to access or use the Website / App even after any such changes have been made, it would be deemed to be Your implied consent to the changed Privacy Policy.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Cookies and Other Tracking Technologies</pgHead>
                                <pgText>We utilize “cookies” and other tracking technologies. A “cookie” is a small text file that may be used, for example, to collect information about Website activity. Some cookies and other technologies may serve to recall Information previously indicated by a User. Most browsers allow You to control cookies, including whether or not to accept them and how to remove them. You may set most browsers to notify You if You receive a cookie, or You may choose to block cookies with Your browser.</pgText>
                                <pgText>Tracking technologies may record information such as internet domain and host names; internet protocol (IP) addresses; browser software and operating system types; stream patterns; and dates and times that Our Website / App is accessed. Our use of cookies and other tracking technologies allows Us to improve Our Website / App and Your experience.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Disclaimer</pgHead>
                                <pgText>We cannot ensure that all of Your Information will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although We are committed to protecting Your privacy, We do not promise, and You should not expect, that Your Information or private communications will always remain private. As a User of the Website / App, You understand and agree that You assume all responsibility and risk for Your use of the Website / App, the internet generally, and the information You post or access and for Your conduct on and off the Website / App.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Indemnity</pgHead>
                                <pgText>You agree and undertake to indemnify Us in any suit or dispute by any third party arising out of disclosure of Information by You to third parties either through Our Website / App or otherwise and Your use and access of websites, applications and resources of third parties. We assume no liability for any actions of third parties with regard to Your Information, which You may have disclosed to such third parties.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Severability</pgHead>
                                <pgText>Each clause of this Privacy Policy shall be and remain separate from and independent of and severable from all and any other clues herein except where otherwise expressly indicated or indicated by the context of the agreement.</pgText>
                                <pgText>The decision or declaration that one or more of the clauses are null and void shall have no effect on the remaining clauses of this Privacy Policy.</pgText>
                                <spacer10></spacer10>
                                <pgHead>Contact Information</pgHead>
                                <pgText>
                                    Any feedback or comments about this Privacy Policy is welcome and can be sent to us at <a href="mailto:info@swazuna.com">info@swazuna.com</a> or contact us at -<spacer20></spacer20>
                                    <b>SWAZUNA Technologies Pvt. Ltd.</b>
                                    <spacer5></spacer5>
                                    #5/1, 2nd Main Road<br>Venkateshwara Layout, S.G.palya<br> Bangalore 560029
                                </pgText>
                                <pgText>We will employ all commercially reasonable efforts to address the same.</pgText>
                            </div> <!-- page content ends-->
                        </div>
                    </div> <!--Left Block Ends-->

                    <div class="SP_rightBlock">
                        <!-- Get In Touch-->
                        <block_bg>
                            <blockHead>Get In Touch</blockHead>
                            <contentBlock>
                                <label20>
                                    <iconPhone></iconPhone>
                                    <textLayout>
                                        <textHead>Call us at −</textHead>
                                        <textHead>(+91) 888 444 2460</textHead>
                                        <textDesc>Time - 9AM to 5PM IST</textDesc>
                                    </textLayout>
                                </label20>
                                <label5>
                                    <iconMail></iconMail>
                                    <textLayout>
                                        <textHead>Send an email to −</textHead>
                                        <emailLink><a href="mailto:support@hiregate.in">support@hiregate.in</a></emailLink>
                                        <textDesc>Response Time - 4 Hours</textDesc>
                                    </textLayout>
                                </label5>
                            </contentBlock>
                        </block_bg>

                        <!--Request Call Back-->
                        <block_bg>
                            <blockHead>Request Call Back</blockHead>
                            <contentBlock>
                                <requestText>Leave your details here, our representative will get in touch with you.</requestText>
                                <span ng-include src="'js/views/shared/requestCallBack.html'"></span>
                            </contentBlock>
                        </block_bg>
                    </div> <!--Right Block Ends-->

                </div> <!-- Page Container Ends-->
            </div>
        </div>
    </div>
    <!--Container Ends-->
    <!--Work Area Ends-->
</div>
<div id="footer-in" class="frame-footer-in" ng-include src="'js/views/Shared/footer-inner.html'"></div>
