<div id="workspacecontainer" ng-controller="unusedController" ng-show="loadingView">
    <header id="header_prelogin">
        <div class="content-widthfix">
            <div id="logosmall"><div class="logo-white logo-small-in"></div></div>
            <div class="evaFormHeaderText">Evaluation Form</div>
        </div>
    </header>
    <!-- Page Header Ends-->
    <!--Work Area-->
    <div id="container">
        <div id="content_in">
            <!--SignUp block-->
            <div class="signup_block">
                <div class="content-widthfix">
                    <div class="secondary_page_container">
                        <div class="accValidate">
                            <textLabelError>Thank you for providing your feedback.</textLabelError>
                        </div>
                    </div>
                </div>
            </div>
            <!--Signup block ends-->
        </div>
    </div>
    <!--Work Area Ends-->
</div>
<div id="footer-in" class="frame-footer-in" ng-include src="'js/views/Shared/footer-inner.html'"></div>
