<div id="popProfileNote" class="pop_disable_bg">
    <div id="profileNote_structure">
        <div class="profileNote">
            <txtHead>Add Note</txtHead>
            <textarea name="noteText" id="noteText"></textarea>
            <labelbutton>
                <input type="button" value="Submit" class="button" ng-click="AddNote()" />
                <input type="button" value="Cancel" class="button" ng-click="HideNote()" />
            </labelbutton>
            <div class="errorMsg" id="noteErrorMsg" style="display:none">Please add note to submit</div>
        </div>
    </div>
</div>